<section class="container">
    <h1>Qytap application</h1>
    <div class="wrapper">
        <h2>List of books:</h2>
        <div class="pagination-wrapper">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">Last</a></li>
            </ul>
        </div>
    </div>
</section>


